body,
html {
  margin: 10;
  padding: 10;
  background-color: #121212;
  color: white;
  width: 500px;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1rem;
}

input[type="text"] {
  font-size: 1.1rem;
  background: #333333;
  color: #FFF;
  border: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

a, a:visited {
  color: #99c3ff;
}

.dark-mode {
  --text-color: #e0e0e0;
  --bg-color: #212121;
  --accent-color: #6200ee;
}

.popup-container {
  padding: 10px;
}

.popup-header h2 {
  color: var(--accent-color);
  text-align: center;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
}
.popup-header {
  color: var(--accent-color);
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.analysis-result,
.transcript {
  background-color: var(--bg-color);
  margin: 20px 20px;
  padding: 8px;
  border-radius: 8px;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.transcript h2 {
  margin-top: 0;
}

.setting {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  /* Space between settings */
}
.setting label {
  flex-grow: 1;
  margin-right: 10px; /* Space between label and checkbox */
}
.setting input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #000; /* Black background for checkbox */
  color: #fff; /* White text */
  border: 1px solid #646464; /* Grey border */
  cursor: pointer;
  width: 20px; /* Width of checkbox */
  height: 20px; /* Height of checkbox */
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif;
  border-radius: 50%;
}
/* Checked style */
.setting input[type="checkbox"]:checked {
  background-color: #1a73e8; /* Blue background for checked state */
}
/* Hover style */
.setting input[type="checkbox"]:hover {
  border-color: #1a73e8;
}
button {
  padding: 10px 20px;
  margin-top: 20px; /* Space above the button */
  background-color: #1a73e8; /* Blue background for button */
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #1669d8; /* Darker blue on hover */
}

.locked-in-display {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("https://media.tenor.com/cnDGK55cZwAAAAAj/the-first-guardian-explosion-the-first-guardian.gif")
    center/cover no-repeat;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  color: white;
  font-size: 1rem;
  animation: dramaticEntry 0.5s ease-out forwards;
}

@keyframes dramaticEntry {
  from {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}
