.yt_analyzer_popup {
  position: absolute;
  width: 40rem;
  height:40rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 5px 4px 2px 1px rgba(0,0,0,0.4);
  overflow-y: scroll;
}
.numerics_item {
  width: 100%;
}

.numerics_bar_number {
  float:right;
}

.numerics_bar {
  color: #FFFFFF;
  width: 100%;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right:0.5rem;
  height: 1.5em;
}

.numerics_bar_inner {
  height: 1.3em;
  margin-bottom: -1.3em;
  background: #228822;
  padding: 0.2rem;
  border-radius: 0.4rem;
}
.sentences_container {
  color: #FFFFFF;
  padding-top: 1rem;
}
.close_button {
  border-radius: 0.5rem;
  border: none;

}

.lds-dual-ring {
  color: rgb(41, 95, 192);
  float: right;
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
